@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}

/*--Difinição de textos e cores*/

:root{
   --cor1:#FEF1E1; 
   --cor2:#C0DAB5;
   --cor3:#F6AF83;
   --cor4:#FDC0AE;
   --cor5:#FF5A77;
   --cor6:#0D0D0D;
   --cor7:#F2F2F2;
   

   --fonte-padrão:arial;
   --font-adpatada:Lucida Calligraphy;
}

/*--Area Do menu--*/

header{
    top: 0;
    position: sticky;
    position: relative; 
	
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor4);
    padding: 10px;
    color: var(--cor6);
}

.Nome-e-Menu{
    text-decoration: none;
    
}

.Barra-nome-logo{
    padding: 5px;
    display: flex;
}

#barra-nome-logo{
   padding: 5px;
}

#botão-Menu{
    cursor: pointer;
}

#botão{
    cursor: pointer;
    padding: 14px;
}

.espaço{
    padding-left: 8px;
    
}

.Branco{
    font-family: var(--font-adpatada);
    color: var(--cor1);
}

.Rosa{
    font-family: var(--font-adpatada);
    color: var(--cor5);	 
}


.Barra-central{
    background-color: var(--cor7);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    border: solid 1px;
    border-color: var(--cor1);
    font-family: arial;
    box-shadow: 1px 1px 1.5px var(--cor1);  
    height: 10px;
    width: 150px;
    background-image:url(imagens/lupa.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: right center;  	
}

#sem-borda-e-cor-de-fundo-input{
    outline: none;
    border: none;
    background-color: var(--cor7);
	width: 100px;
    
    
}

.Entrada-login-cadastro{
    text-decoration: none;
    border: solid;
    border-color: var(--cor1);
    padding: 14px;
    color: var(--cor6);
    font-family: var(--fonte-padrão);
    border-radius: 5px;
    background-color: var(--cor7);
}

.Entrada-login-cadastro:hover{
    background-color: var(--cor6);
    color: var(--cor7);
    transition: .3s;
    
}

#botão-ficar-lado-a-lado{
    padding-top: 10px;
}

#linha-trasparente{
    opacity: 0.3;
}



/*--Area Lateral--*/

.Are-Lateral{
    background-color: var(--cor4);
    width: 270px;
    height: 740px;
    display: none;
    border: solid var(--cor4);
    position: relative;
    margin-top: -64px;
    
}

.Texto{
    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: var(--cor1);
    border: solid var(--cor6); 
    font-family: var(--font-adpatada);
    font-size: 15px;
    color: var(--cor6);
}


.alinhamento{
    padding: 3px;
    margin-top: 3px ;
}

/*--Roda Pé--*/

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--cor4);
    color: var(--cor6);
    width: 100%;
    height: 35px;    
    text-align: center;
    line-height: 35px;
   
}

.Roda-Pé{
    font-size: 7px;
    font-family: var(--fonte-padrão);
    display: flex;
    justify-content: center;
      
}


